@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import './Base/base',
'./components/header',
'./components/hero',
'./components/home',
'./Config/variables',
'./components/about',
'./components/blog',
'./components/page',
'./components/dept',
'./components/contact',
'./components/footer';