* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
    background-color: var(--white);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: #ccc;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.container {
    /* Padding for mobile view */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 950px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width:1500px) {
    .container {
        width: 1470px;
    }
}
.__btn{
    background-color: var(--main-color);
    color: var(--white);
    padding: .5rem 2rem;
    border-radius: 10px;
}

.main-title{
    text-align: center;
    margin: 2rem auto;
    position: relative;
    padding-bottom: 3rem;
    h2{
        font-size: 1.875rem;
        text-transform: uppercase;
    }span{
        font-size:1rem ;
        margin-bottom: 1rem;
    }
    i{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #cccccc;
    }
    &::before{
        content: "";
        width: 14%;
        height: 1px;
        background-color: #cccccc;
        position: absolute;
        bottom: 6px;
        left: 50%;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }
    &::after{
        content: "";
        width: 14%;
        height: 1px;
        background-color: #cccccc;
        position: absolute;
        bottom: 6px;
        right: 50%;
        -webkit-transform: translateX(-10%);
        transform: translateX(-10%);
    }
    
}